/* Navbar */

a:link{
  text-decoration: none;
}

.nav-link {
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  font-weight: 500;
  word-spacing: 3px;
}

#atom {
  font-size: 25px;
  padding: 10px;
  animation-duration: 10s;
}

/* Featured Project */

.title {
  color: black;
  font-family: 'Chivo', sans-serif;
  font-weight: 600;
}

.img-ratio {
  margin-bottom: 10px;
  aspect-ratio: 4.8 / 3;
}

