/* Navbar */

.nav-link {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
  color: black;
  letter-spacing: 1px;
  font-weight: 500;
  word-spacing: 3px;
}

.nav-item {
  padding: 8px;
}

#atom {
  font-size: 25px;
  padding: 10px;
  animation-duration: 10s;
}